@import "../../var";

.Title {
  @include font-h1;
  margin-bottom: 1.5vw;
}

.ButtonContainer div {
  @include shadow2;
}

.Container {
  @include flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: 15.5vw;
  @include font-h4;
  margin: 1.5vw 0;
}

.ContainerAll {
  @include flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: column wrap;
  height: 31vw;
}

.Result {
  background-color: $color-primary;
  @include shadow2;
  border-radius: $radius;
  margin: 1vw;
  width: 27vw;
  height: 13.5vw;
  @include flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5vw 2vw;
  position: relative;
}
.Result > div {
  z-index: 6;
}

.WeightHeight {
  margin: 1vw;
  width: 27vw;
  height: 13.5vw;
  @include flex;
  flex-direction: column;
  justify-content: space-between;
}

.WeightHeight > div {
  background-color: $color-primary;
  @include shadow2;
  border-radius: $radius;
  width: 100%;
  height: 5.75vw;
  padding: 1.5vw 2vw;
  @include flex;
  flex-direction: row;
  justify-content: space-between;
}

.Value {
  font-size: 3.5vw;
  font-weight: 300;
  line-height: 1.1;
}
.Unit {
  @include font-detail3;
  font-weight: 500;
  color: $color-detail;
}
.Criteria {
  @include font-detail3;
  font-weight: 600;
  background-color: $color-accent2;
  color: $color-primary;
  padding: 0.2vw 1.5vw;
  min-width: 8vw;
  border-radius: $radius;
  margin-top: 0.5vw;
}
.ValueContainer {
  @include flex;
  flex-direction: column;
}
