@import "../../../var";

.Modal {
  background-color: $color-primary;
  border-radius: $radius;
  z-index: 101;
  padding: 3vw 4vw;
  @include shadow1;
}

.Modal {
  .Icon {
    height: 8.5vw;
    margin-bottom: 1.5vw;
  }
  .Title {
    @include font-h2;
  }
  .Detail {
    @include font-detail2;
    margin-top: 0.3vw;
  }
  .Detail li {
    text-align: left;
  }
}
