@import "../../var";

.Container {
  justify-content: flex-start;
  background-image: url(../../assets/Welcome/triangle.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 23vh;
}

.Character {
  width: 100vw;
  height: 25vw;
  position: fixed;
  bottom: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Character img {
  height: 100%;
}

.Logo {
  width: 30vw;
  margin-top: 7vw;
}

.Detail {
  @include font-detail2;
  margin: 2.5vw 0;
}

.Button {
  background-color: $color-accent1;
  color: $color-primary;
  width: 25vw;
  @include font-h2;
  border-radius: $radius;
  @include shadow1;
  animation: button-scale 1.5s linear infinite;
}

.Button:hover {
  background-color: $color-accent2;
}

@keyframes button-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
