@import "../../../var";

.Container {
  height: 88vh;
}

.Title {
  @include font-h1;
}

.Instruction {
  margin: 1.8vw 0 1vw;
  padding: 1.5vw 3.5vw;
  background-color: white;
  border-radius: 2.5vw;
  @include shadow2;
  @include font-detail2;
  img {
    display: block;
    height: 18vw;
    margin-bottom: 1.5vw;
  }
}

.ButtonContainer div {
  @include shadow2;
}
