@import "../../../var";

.Container {
  height: 88vh;
}

.Loading {
  @include flex;
  flex-direction: column;
}

.LoadingTitle {
  @include font-h2;
  margin-top: -1.5vw;
}

.Detail {
  @include font-detail2;
}

.Success {
  padding: 3vw 4vw;
  background-color: $color-primary;
  @include flex;
  flex-direction: column;
  @include shadow2;
  border-radius: $radius;
}

.SuccessTitle {
  @include font-h2;
  margin-top: 1.5vw;
}
